<!DOCTYPE html>
<html>
<head>
    <title>MarCom - Community Website</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS files loaded here-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/navbar-fixed-side.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <!--My CSS file loaded here-->
    <link href="~/Content/css/mystyles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using Microsoft.AspNet.Identity
    @using Identity_Sample.Models

</head>
<body ng-app="marcusApp">
    <!--Start div-->
    <div class="container-fluid" id="body_div">

        <div class="col-centered" id="header_logo_div">
            @*<header>*@
                <img id="header_logo" src="~/Content/images/marcom_logo.png" />
            @*</header>*@

        </div>

        <!--User Navbar Menu-->
        <div class="row">
            <div class="container-fluid">
                <div class="col-md-8 col-lg-8 col-xs-12 col-centered" id="loginnav">
                    <nav class="navbar navbar-fixed-top navbar-nav">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="glyphicon glyphicon-user"></span>
                                </button>
                            </div>
                            <div id="navbar1" class="navbar-collapse collapse">

                                <!--User Login Button Dropdown-->
                                @if (User.Identity.IsAuthenticated)

                                {
                                <ul class="nav navbar-nav navbar-right" id="username_button_nav">

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><strong id="username_text">@User.Identity.GetUserName()</strong><span class="glyphicon glyphicon-chevron-down"></span></a>
                                        <ul class="dropdown-menu" id="user_dropdown">
                                            <li id="profile_li">
                                                <div class="navbar-login">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <p class="text-center">
                                                                <span class="glyphicon glyphicon-user icon-size"></span>
                                                            </p>
                                                            <p class="text-right" id="username_text">
                                                                <span id="user_icon" class="glyphicon glyphicon-user">
                                                                </span><strong> @User.Identity.Name</strong>
                                                            </p>
                                                            <p class="text-right" id="username_text">
                                                                <span id="user_icon" class="fa fa-id-card-o">
                                                                </span><strong> Role</strong>
                                                            </p>

                                                            <!--Settings buttons/links-->
                                                            <p class="text-right">
                                                                <a id="settings_btn" class="btn btn-xs btn-block" href="@Url.Action("Index", "Manage", new { id = UrlParameter.Optional })">
                                                                    <span class="fa fa-cog"></span> Manage Account
                                                                </a>
                                                            </p>
                                                            <p class="text-right">
                                                                <a id="settings_btn" class="btn btn-xs btn-block" href="@Url.Action("Index", "Messages", new { id = UrlParameter.Optional })">
                                                                    <span class="fa fa-envelope-open"></span> Messages
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="divider" id="username_divider"></li>


                                            <li id="profile_li">
                                                <div class="col-lg-12">
                                                    <p class="text-center">
                                                        <a id="profile_btn" href="@Url.Action("Index", "UserProfile")" class="btn btn-primary btn-block btn-sm">
                                                            <span class="fa fa-cog"></span> Profile
                                                        </a>
                                                    </p>
                                                </div>
                                            </li>

                                            <!--Admin only-->
                                            @if (User.Identity.IsAuthenticated)
                                                {
                                                    if (User.IsInRole("SuperAdmin"))
                                                    {
                                                <li id="profile_li">
                                                    <div class="col-lg-12">
                                                        <p class="text-center">
                                                            <a id="profile_li" class="btn btn-success btn-block btn-sm" href="@Url.Action("Index", "Admin", new { id = UrlParameter.Optional })">
                                                                <span class="fa fa-adjust"></span> Admin Panel
                                                            </a>
                                                        </p>
                                                    </div>
                                                </li>
                                                    }
                                                }

                                            @if (Request.IsAuthenticated)
                                                {
                                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                                    {
                                                @Html.AntiForgeryToken()

                                                <li id="logout_li">
                                                    <div class="navbar-login navbar-login-session">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <p id="logout_btn">
                                                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger btn-block"><span class="fa fa-sign-out"></span> Logout</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                    }
                                                }


                                        </ul>
                                    </li>


                                </ul>
                                }


                                @Html.Partial("_LoginPartial")

                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>



        <!--Navbar Menu-->
        <div class="row">
            <div class="container-fluid">
                <div class="col-centered" id="mainnav">
                    <nav class="col-md-8 col-lg-8 col-xs-12 col-centered navbar navbar-nav">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" id="nav_logo" href="#">MarcusCommunity</a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Forum", "Index", "ForumSections")</li>
                                    <li>@Html.ActionLink("News", "Index", "NewsPosts")</li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Placeholder 1 <span class="caret"></span></a>
                                        <ul class="dropdown-menu" id="nav_drop_1">
                                            <li><a href="#">Placeholder2</a></li>
                                            <li><a href="#">Placeholder3</a></li>
                                            <li><a href="#">Placeholder4</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">About</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <!--Main Content Area-->
        <div class="row">
            <div class="container-fluid">

                <!--News Feed Here-->
                @*<div class="col-md-8 col-lg-8 col-xs-12 col-centered" id="mainContent">
                        @Html.Partial("~/Views/News/Index.cshtml")
                    </div>*@

                <div class="col-md-8 col-lg-8 col-xs-12 col-centered" id="mainContent">

                    <!--Load Partial Pages Here-->
                    @RenderBody()

                </div> <!--End maincontent div-->
            </div>
        </div>




        <!--Live Chat-->
        <!--Only show if logged in-->
        <section class="box-position">
            <div class="container" style="margin-right:0px;padding-right:0px;">
                <div class="col-xs-12 col-md-3 col-sm-4 pull-right hidden-xs">
                    <!--Message box title-->
                    <div id="chat_panel_click" class="panel collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#message" aria-expanded="false" aria-controls="message">

                        <div class="panel-heading top-bar" role="tab" id="open-message">

                            <div class="col-md-10 col-xs-10">
                                <p class="panel-title"><span class="glyphicon glyphicon-comment"></span>  Chat</p>
                            </div>

                            <div class="col-md-2 col-xs-2">
                                <a id="plus_icon_hover" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#message" aria-expanded="false" aria-controls="message">
                                    <span id="plus_icon_chat" class="glyphicon  glyphicon-plus"></span>
                                </a>
                            </div>

                        </div>
                    </div>

                    <!--Message body-->

                    <div id="message" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <form action="#">

                                <div class="form-group ">
                                    <input type="text" class="form-control" id="name" value="@(User.Identity.Name)" readonly="readonly">
                                </div>
                                <div class="form-group ">
                                    <select class="form-control" id="users_dropdown_chat" required="required">
                                        <option value="" disabled selected>Select user..</option>
                                        <option value="1">Test User</option>
                                        <option value="2">User2</option>
                                        <option value="3">User3</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" type="text" class="form-control counted" id="message" placeholder="Message..." rows="5" required="required"></textarea>
                                </div>

                                <div class="form-group">
                                    <input type="submit" class="form-control btn-success" id="submit" value="Send">
                                </div>

                                <div class="text-center">
                                    <h6 class="pull-right" id="counter">320 characters remaining</h6>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!--FOOTER-->
        <div class="row">


            <footer class="footer1">
                <div class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="footer-desc text-center">
                                    <img src="~/Content/images/marcom_logo.png" width="200" height="75" alt="">
                                    <p>
                                        <small>
                                            MarcusCommunity is a community focused on gaming<br>for everyone. <a href="/about/">Learn More</a>
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-xs-12">
                                <div class="footer-desc text-center">
                                    <p id="#footer1_copyrightText">
                                        &copy; @DateTime.Now.Year MarCom, All Rights Reserved
                                    </p>
                                </div>
                            </div>
                        </div> <!--/.row-->
                    </div> <!--/.container-->
                </div> <!--/.footer-->
            </footer>


        </div>

    </div> <!--End Div-->
    <!--Scripts loaded here-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    

    <!--My script file-->
    <script src="~/Content/js/myjs.js"></script>

</body>
</html>
