@model IEnumerable<Identity_Sample.Models.ForumSection>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h6>
            <a href="@Url.Action("Index", "ForumSections")">ForumIndex</a>&nbsp;/
        </h6>
    </div>
</div>

@*Admin Stuff*@
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("SuperAdmin"))
    {
        <div class="row">
            <div class="col-md-12">
                <h6>
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success btn-xs" })
                </h6>
            </div>
        </div>
    }
}


<div class="row">

    <div class="message-wrap col-md-12">
        @*Loop here*@
        @foreach (var item in Model)
        {
            <div class="msg-wrap">
                <div class="media msg ">
                    <div class="media-body">
                        @*Admin Stuff*@
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("SuperAdmin"))
                            {
                                <a id="btn_edit" href="@Url.Action("Edit", "ForumSections", new { id = item.ID })"><small class="pull-right"><i class="fa fa-edit"></i> edit</small></a>
                                <p class="pull-right">&nbsp;&nbsp;&nbsp;</p>
                                <a id="btn_del" href="@Url.Action("Delete", "ForumSections", new { id = item.ID })"><small class="pull-right"><i class="fa fa-trash-o"></i> delete</small></a>
                            }
                        }
                        <h5 class="media-heading"><a href="@Url.Action("Details", "ForumSections", new { id = item.ID })">@item.Title</a></h5>
                        <small class="col-md-12">
                            @item.Description
                        </small>
                    </div>
                </div>
                <div class="alert alert-info msg-date">
                    <strong>Recent Post: </strong><a href="#">Thoughts about eSport? </a><small>( </small><small class="time"><i class="fa fa-clock-o"></i> Today, 12:10am</small><small> )</small>
                    <br />
                    <strong>Total Threads: </strong><small class="time">
                        <i class="fa fa-th-list"></i>
                        @*@foreach (var item1 in Model)
                            {

                                if (item.ForumThreads == null || item.ForumThreads.Count == 0)
                                {
                                    <text>0</text>
                                }
                                else
                                {
                                    int threadsTotal = item.ForumThreads.Count;

                                    @item1.ForumThreads.Count

                                }
                            }*@
                        @if (item.ForumThreads == null || item.ForumThreads.Count == 0)
                        {
                            <text>0</text>
                        }
                        else
                        {
                            @item.ForumThreads.Count

                        }
                        Threads
                    </small>



                </div>
            </div>

        }
        <br />
    </div>
</div>

<style>
    .conversation-wrap {
        box-shadow: -2px 0 3px #ddd;
        padding: 0;
        max-height: 400px;
        overflow: auto;
    }

    .conversation {
        padding: 5px;
        border-bottom: 1px solid #ddd;
        margin: 0;
    }

    .message-wrap {
        /*box-shadow: 0 0 3px #ddd;*/
        padding: 0;
        border-top: 1px solid #636363;
    }

    .msg {
        padding: 5px;
        /*border-bottom:1px solid #ddd;*/
        margin: 0;
    }

    .msg-wrap {
        padding: 10px;
        max-height: 400px;
        overflow: auto;
        padding-bottom: 0px;
    }

    .time {
        color: #bfbfbf;
    }

    .send-wrap {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px;
        /*background: #f8f8f8;*/
    }

    .send-message {
        resize: none;
    }

    .highlight {
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }

    .send-message-btn {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn-panel {
        background: #f7f7f9;
    }

        .btn-panel .btn {
            color: #b8b8b8;
            transition: 0.2s all ease-in-out;
        }

            .btn-panel .btn:hover {
                color: #666;
                background: #f8f8f8;
            }

            .btn-panel .btn:active {
                background: #f8f8f8;
                box-shadow: 0 0 1px #ddd;
            }

    .btn-panel-conversation .btn, .btn-panel-msg .btn {
        background: #f8f8f8;
    }

        .btn-panel-conversation .btn:first-child {
            border-right: 1px solid #ddd;
        }

    .msg-wrap .media-heading {
        color: chartreuse;
        font-weight: 700;
    }

    a:hover {
        text-decoration: none;
        background-color: transparent;
        color: #FFF;
    }


    .msg-date {
        background: none;
        text-align: center;
        color: #aaa;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
        margin-bottom: 5px;
    }


    body::-webkit-scrollbar {
        width: 12px;
    }


    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        /*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        /*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
        background: #ddd;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

        ::-webkit-scrollbar-thumb:window-inactive {
            background: #ddd;
        }
</style>