@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole


<h3>Delete A User from a Role</h3>

@using (Html.BeginForm("DeleteRoleFromUser", "Role"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : @Html.DropDownList("Users", (IEnumerable<SelectListItem>)ViewBag.Users, "Select Users...", new { @class = "form-control" })
        Role Name: @Html.DropDownList("Roles", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select Roles...", new { @class = "form-control" })

    </p>

    <input class="form-control btn-danger" type="submit" value="Delete this user from Role" />
    @ViewBag.ResultMessage
    <br />
    <a style="margin-bottom:5px;" class="btn btn-primary" href="@Url.Action("Roles", "Admin")"><span class="fa fa-arrow-left"></span> Back to Admin Panel</a>
}
