@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Add Role";
}
<table>
    <tr>
        <td align="center" colspan="2">
            <h2> Create User Roles</h2>
        </td>

    </tr>

    <tr>
        <td>
            <table id="tbrole">

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:100%; border:dotted 1px;">
                            @item.Name
                        </td>
                    </tr>}
            </table>


        </td>
        <td align="right" style="color:#FFFFFF;padding-right:10px;">


            
        </td>
    </tr>
</table>
@*<p>@Html.ActionLink("Click to Create New Role", "Create", "Role", null, new { @class = "btn btn-success" })</p>*@

@Html.Partial("_Create", new Microsoft.AspNet.Identity.EntityFramework.IdentityRole { })

<b>
    @ViewBag.RoleStatus
    @ViewBag.ResultMessage
</b>

<br />
<div>
    <a style="margin-bottom:5px;" class="btn btn-primary" href="@Url.Action("Roles", "Admin")"><span class="fa fa-arrow-left"></span> Back to Admin Panel</a>
</div>